# data directories 
data/backup-mysql/*
data/backup-wordpress/*
data/data-mysql/*
data/data-nextcloud/*
data/data-wordpress/*
data/data-tmp/*
data/data-certificates/*
!data/backup-mysql/.placeholder
!data/backup-wordpress/.placeholder
!data/data-mysql/.placeholder
!data/data-nextcloud/.placeholder
!data/data-tmp/.placeholder
!data/data-certificates/.placeholder
*-env-vars-secrets*
